<% include ../partials/header %>

<% include ../partials/header %>

<div class="container aboutContainer">
    <header class="jumbotron">
        <section class="container-fluid">
            <div class="container">
                <div class="pricing-header text-center">
                    <h1>Diamond Package</h1>
                    <div class="row align-items-center">
                        <div class="col-md-6 mx-auto">
                            <img src="/imgs/diamondpackage-pic.jpg" alt="" class="img-fluid rounded">
                        </div>
                    </div>

                    <hr>
                    <p><strong>Indulge</strong> in the wildest 'Sweet Tooth' experience we have to offer.<br>
                        <strong>Engage</strong> every single one of your senses with our over-stimulating, exclusive excursions.<br>
                        This is our <em>most desired</em> ticket package option.<br><br>
                        A Diamond Package allows full access to the main floor of the museum,<br>
                        as well as full access to the private lounge/concessions area</p>
                    <h5>Every Diamond Package will come with:</h5>
                    <ul>
                        <li>One VIP Admission Ticket</li>
                        <li>Two Complimentary Concession Tickets</li>
                        <li>One Limited 'VIP Sweet Tooth' Laminated Lanyard</li>
                        <li>One Holographic 'Museum Of Candy' Poster</li>
                        <li>Private Lounge Access</li>
                        <li>'Sweet Surprise' After-party Access Ticket</li>
                    </ul>
                    <hr>
                    <h5 id="price">$45</h5>
                    <a class="btn btn-md buyBtn" href="/tickets/diamond/checkout">Purchase</a>

                </div>
            </div>
        </section>
    </header>
</div>



<% include ../partials/footer %>

<% include ../partials/footer %>