<% include ../partials/header %>

<div class="container aboutContainer">
    <header class="jumbotron">
        <section class="container-fluid">
            <div class="container">
                <div class="pricing-header text-center">
                    <h1>Sugar Package</h1>
                    <div class="row align-items-center">
                        <div class="col-md-6 mx-auto">
                            <img src="/imgs/sugarpackage-pic.jpg" alt="" class="img-fluid rounded">
                        </div>
                    </div>

                    <hr>
                    <p>Satisfy your 'Sweet Tooth' cravings with this succulent experience.
                        This is generally the most popular ticket package option.<br><br>
                       A Sugar Package allows full access to the main floor of the museum.</p>
                    <h5>Every Sugar Package will come with:</h5>
                    <ul>
                        <li>One General Admission Ticket</li>
                        <li>One Complimentary Concession Ticket</li>
                        <li>One 'Sweet Tooth' Laminated Lanyard</li>
                    </ul>
                    <hr>
                    <h5 id="price">$25</h5>
                    <a class="btn btn-md buyBtn" href="/tickets/sugar/checkout">Purchase</a>

                </div>
            </div>
        </section>
    </header>
</div>



<% include ../partials/footer %>