<% include ../partials/header %>

<div class="container aboutContainer">
    <header class="jumbotron">
        <section class="container-fluid">
            <h1>About The Project</h1>
            <hr>
            <p>
                I love chupa chups candy canes marzipan jujubes dragée danish candy.
                Pastry cake chocolate cheesecake fruitcake. Bear claw pudding soufflé gummi bears jelly beans fruitcake.
                Chocolate tart biscuit jelly beans tart I love muffin oat cake tootsie roll. <br>
                Chocolate bar jelly jujubes dragée I love. Cotton candy tiramisu chocolate tootsie roll jujubes dragée candy.
                Biscuit donut topping pudding. Tart I love caramels dessert.
                Jujubes cupcake tootsie roll chocolate bar cake halvah.
            </p>
            <hr>
            <p>
            <div id="carouselInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <img src="/imgs/slider1.jpg" class="d-block w-50" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="/imgs/slider2.jpg" class="d-block w-50" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="/imgs/slider3.jpg" class="d-block w-50" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselInterval" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselInterval" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            </p>
            <hr>
            <div>
                <p>
                    <a class="btn btn-lg about-btn" href="/about/more">Learn More</a>
                    <a class="btn btn-lg about-btn mid" href="/tickets">Get Tickets</a>
                    <a class="btn btn-lg about-btn" href="/participate">Volunteer</a>
                </p>
            </div>
        </section>
    </header>
</div>

<% include ../partials/footer %>