<% include ../partials/header %>

<!--Heading Section-->
<section class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
            </div>
        </div>
        <div class="col-lg-6 px-0">
            <img class="img-fluid" src="/imgs/hand1.jpg" alt="">
        </div>
    </div>
</section>

<!--Body Content Panel 1-->
<section class="container-fluid">
    <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1 px-0">
            <img src="/imgs/milk.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>MUSEUM<span>/</span>OF<span>/</span>CANDY</h2>
                    <img src="/imgs/lollipop-icon.png" alt="" class="lollipopIcon d-none d-lg-inline">
                    <p class="lead">
                        Cupcake ipsum dolor sit amet liquorice lemon drops tiramisu ice cream.
                        Tart brownie cake. Caramels pie ice cream sweet roll pastry dragée pie.
                        Topping chocolate cupcake lemon drops muffin chupa chups biscuit bonbon.
                        Croissant gummies sugar plum cake. Tiramisu biscuit jelly-o halvah macaroon cupcake
                        dessert marzipan sugar plum.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Body Content Panel 2-->
    <div class="row align-items-center content">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>MUSEUM<span>/</span>OF<span>/</span>CANDY</h2>
                    <img src="/imgs/lollipop-icon.png" alt="" class="lollipopIcon d-none d-lg-inline">
                    <p class="lead">
                        Sweet roll jelly-o jelly beans candy. Fruitcake donut oat cake toffee tootsie roll dessert
                        marzipan chupa chups. Tootsie roll gingerbread powder. Donut soufflé halvah ice cream pie
                        chocolate cake sugar plum cupcake. Marzipan donut tiramisu tiramisu marzipan dessert.
                        Caramels bear claw oat cake cupcake. Danish cheesecake cotton candy wafer jujubes sugar plum
                        chocolate cake. Tart lollipop carrot cake jelly beans chocolate.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 px-0">
            <img src="/imgs/donuts.jpeg" alt="" class="img-fluid">
        </div>
    </div>

    <!--Body Content Panel 3-->
    <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1 px-0">
            <img src="/imgs/candy3.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>MUSEUM<span>/</span>OF<span>/</span>CANDY</h2>
                    <img src="/imgs/lollipop-icon.png" alt="" class="lollipopIcon d-none d-lg-inline">
                    <p class="lead">
                        Apple pie tootsie roll carrot cake topping chocolate bar. Sesame snaps sweet roll chocolate
                        soufflé liquorice bonbon oat cake sweet roll fruitcake. Caramels chocolate bar gingerbread.
                        Macaroon gingerbread chocolate chupa chups gingerbread brownie. Cake sesame snaps oat cake
                        sweet. Cake macaroon bonbon. Pie apple pie icing pastry cookie powder danish bear claw
                        powder.
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>


<% include ../partials/footer %>