<% include ../partials/header %>

<div class="container aboutContainer">
    <header class="jumbotron">
        <section class="container-fluid">
            <h1>How The Cookie Crumbled</h1>
            <hr>
            <p>
                Cupcake ipsum dolor sit amet powder. Sugar plum icing soufflé marshmallow halvah topping candy canes.
                I love sesame snaps liquorice cupcake. Cake chocolate cake sweet roll cupcake cake oat cake pie cake.
                Gummies pie carrot cake. I love topping jelly-o ice cream chocolate cake. I love I love powder apple
                pie tootsie roll I love jujubes sweet tart. Jelly beans sweet I love dragée chupa chups fruitcake candy
                cake I love. Danish lollipop jujubes apple pie.
            </p>
            <p>
                Chocolate bar fruitcake jelly beans sweet candy ice cream. Chocolate bar jelly jujubes dragée I love.
                Cotton candy tiramisu chocolate tootsie roll jujubes dragée candy. Sugar plum tootsie roll chocolate
                candy canes bear claw brownie jelly gingerbread. Candy canes pie candy I love apple pie ice cream bear
                claw chocolate bar. Bear claw pudding soufflé gummi bears jelly beans fruitcake. Chocolate tart biscuit
                jelly beans tart I love muffin oat cake tootsie roll. Jelly-o I love jelly beans gingerbread gummi bears
                cheesecake apple pie croissant dessert.
            </p>
            <p>
                I love pie tootsie roll bear claw. Soufflé tart bonbon oat cake biscuit toffee cotton candy jelly-o I
                love. Danish I love dragée I love bear claw cookie danish candy canes liquorice. Toffee sweet roll
                cheesecake I love. Cheesecake topping bear claw apple pie. Apple pie gingerbread cupcake pudding
                lollipop I love macaroon apple pie. Biscuit donut topping pudding. Tart I love caramels dessert.
                Jujubes cupcake tootsie roll chocolate bar cake halvah.
            </p>
            <p>
                Jelly carrot cake biscuit. Tootsie roll danish jujubes. Cake gummies icing candy canes marshmallow
                gummies liquorice sesame snaps. Cotton candy cake icing dessert jelly lemon drops chocolate bar
                caramels. I love tiramisu macaroon. Pie liquorice tiramisu apple pie. Bear claw soufflé chupa chups
                tootsie roll pastry chocolate bar halvah halvah.
            </p>
            <hr>
        </section>
        <p>
            <a class="btn btn-lg more-btn" href="/tickets">Get Tickets</a>
            <a class="btn btn-lg more-btn" href="/participate">Volunteer</a>
        </p>
    </header>
</div>

<% include ../partials/footer %>