<% include ../partials/header %>

<div class="container aboutContainer">
    <header class="jumbotron">
        <section class="container-fluid">
            <h1>Checkout</h1>
            <hr>
            <p>
                <h4 class="justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill"><i class="fas fa-shopping-cart"></i></span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item justify-content-between lh-condensed">
                        <div>
                            <h5 class="my-0">Sugar Ticket Package</h5>
                            <small class="text-muted">
                                Satisfy your 'Sweet Tooth' cravings with this succulent experience.
                                A Sugar Package allows full access to the main floor of the museum.<br>
                                Every Sugar Package comes with:
                                <div>
                                    <ul>
                                        <li>One General Admission Ticket</li>
                                        <li>One Complimentary Concession Ticket</li>
                                        <li>One 'Sweet Tooth' Laminated Lanyard</li>
                                    </ul>
                                </div>
                            </small>
                        </div>
                        <span class="text-success"><strong>$25</strong></span>
                    </li>
                </ul>
            <hr>
            </p>

            <p>
            <form action="your-server-side-code" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
                        data-amount="2500"
                        data-name="Museum Of Candy"
                        data-description="Sugar Package"
                        data-image="/imgs/lollipop-icon2.png"
                        data-locale="auto"
                        data-zip-code="true">
                </script>
            </form>
            </p>
        </section>
    </header>
</div>



<% include ../partials/footer %>